* {
  background: #0c0c0d;
  foreground: #aec7df;
  selective: #9399B2FF;
  accent: #3012a7;
  color0: #0c0c0d;
  color1: #3012a7;
  color2: #cf176e;
  color3: #1361b1;
  color4: #175fd2;
  color5: #e626c0;
  color6: #2a95e7;
  color7: #aec7df;
}
